#google_translate_element {
  width: 100% !important;
  height: 100% !important;
}

.goog-te-gadget-simple {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  display: block !important;
  width: 100% !important;
  height: 100% !important;
}

.goog-te-menu-value span {
  display: none !important;
}

.goog-te-menu-value:before {
  content: '' !important;
}

.goog-te-gadget-icon, .goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

.goog-te-banner-frame.skiptranslate, .goog-te-banner-frame {
  display: none !important;
}

body {
  top: 0px !important;
}

.goog-te-menu-frame {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25) !important;
  border: none !important;
  border-radius: 20px !important;
}